h1 {
    text-align: center;
    color: rgb(173, 68, 117);
    font-size: 36px;
    font-family:Arial, Helvetica, sans-serif
}
h2 {
    color: rgb(228, 183, 226);
    font-size: 24px;
    font-family: Arial, Helvetica, sans-serif
}
    body    {
    background-color: rgb(233, 186, 208);
    margin-top: 150px;
    margin-left: 700px;
    margin-right: 700px;
}
#heute {
    background-color: rgb(173, 68, 117);
}
.samstag {
    color: blue;
}
.sonntag {
    color: red;
}
td {
    background-color: rgb(228, 183, 226);
    border: 1px solid black;
    text-align: center;
    padding: 20px;
}
.grid-container {
    text-align: center;
}
.grid-item {
    background-color: rgb(173, 68, 117);
    padding: 20px;
    margin-top: 40px;
    border: 2px solid rgb(49, 25, 48);
}
td:hover {
    background-color:rgb(168, 104, 165);
    text-decoration: underline;
}
table {
    width: 100%;
    margin-top: 80px;
    margin-bottom: 80px;
}
th {
    width: 14.28%
}
p {
    text-align: center;
    font-family:Arial, Helvetica, sans-serif;
    font-size: 18px;
    margin-top: 80px;
    margin-bottom: 80px;
    
}
ul {
    font-family: Arial, Helvetica, sans-serif;

}